body {
	background-color: #eee;
	color: black;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}
div.title_bar {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}
div.title {
	line-height: 50px;
	font-size: 40px;
	padding-left: 1em;
}
div.nav_bar {
	display: flex;
	flex-direction: row;
	column-gap: 2em;
	padding-right: 2em;
}
div.nav_bar > div.menu_item {
	line-height: 50px;
	font-size: 25px;
}
div.nav_bar > div.menu_item.selected {
	border-bottom: 2px solid red;
}

div.page_tab {
	visibility: hidden;
	display: none;
}
div.page_tab.active {
	visibility: visible;
	display: block;
}
div.button_row {
	/* background-color: #888; */
	/* border: 5px solid black; */
	text-align: center;
	border-top: 1px solid black;
	padding-top: 1em;
	margin-top: 0.5em;
}
button {
	background-color: #663300;
	color: white;
	font-size: 1.2em;
	border: none;
	padding: 0.2em 1em 0.2em 1em;
	width: 10em;
	margin-left: 2em;
	margin-right: 2em;
	/* float: right; */
}

button.primary {
	background-color: #0c0;
}
button.primary:hover {
	background-color: #0e0;
}
button.secondary {
	background-color: #e22;
}
button.secondary:hover {
	background-color: #f00;
}

button.disabled {
	background-color: grey;
	color: white;
	font-size: 1.2em;
	border: none;
	padding: 0.2em 1em 0.2em 1em;
}

input {
	font-size: 1.2em;
	border: 0px;
	border-bottom: 2px solid black;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.3em
}
div.section {
	margin-top:2em;
	margin-left: 5%;
	width: 90%;
	background-color: #ddd;
}

div.section > .header {
	background-color: #db9;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}

div.two-pane {
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
}

p.warn {
	background-color: yellow;
	border: 1px solid black;
	font-weight: bold;
}
label {
	width: 10em;
	display: inline-block;
	text-align: right;
	/* background-color: red; */
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-size: 1.2em;
	padding-right: 0.2em;
}

div.form {
	display: flex;
	flex-direction: column;
}
div.info {
}
div.results {
	text-align: center;
	padding-bottom: 2em;
	border-top: 1px solid black;
	margin-top: 1em;
	margin-left: 5%;
	margin-right: 5%;
}
div.results_out {
	display: flex;
	flex-direction: row;	
	align-content: center;
	gap: 2em;
	flex-wrap: wrap;
	justify-content: center;
}
div.results_out > div.result {
	border: 1px solid black;
	background-color: white;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1.2em;
}

table {
	font-size: 1.2em;
	border: 1px solid #db9;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

th {
	background-color: #db9;
	padding: 0;
	margin: 0;
	text-align: center;
}

tr {
	padding: 0;
	margin: 0;
	background-color: white;
}

td {
	padding: 0;
	margin: 0;
	min-width: 8em;
	text-align: center;
}
div.about_text {
	padding: 1em 1em 1em 1em;
}